<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

      <table class="board">
        <tr>
          <td class="cell" ng-repeat="cell in $ctrl.order" ng-click="$ctrl.setCells(cell)" ng-class="cell"></td>
        </tr>
      </table>

      <table class="board">
        <tr ng-repeat="row in $ctrl.KingdomGameService.board track by $index">
          <td class="cell"
            ng-repeat="type in row track by $index"
            ng-class="[type, { selected: $ctrl.isSelected($parent.$index, $index) }]"

            ng-click="$ctrl.toggleCell($parent.$index, $index)"
            title="{{ $parent.$index }}, {{ $index }}"></td>
        </tr>
      </table>

      <button ng-click="$ctrl.KingdomGameService.back()">Back</button>
      <button ng-click="$ctrl.KingdomGameService.digest()">Consume</button>
      <button ng-click="$ctrl.KingdomGameService.swap()">Swap</button>

    </div>

    <div class="col-md-8">
      <input ng-model="$ctrl.KingdomBestService.searchDeep"></input>

      <button ng-click="$ctrl.KingdomBestService.searchBest()">Best</button>

      <table class="table">
        <thead>
          <tr>
            <td>Moves</td>
            <td>Gold</td>
            <td>Wood</td>
            <td>Food</td>
            <td>Sword</td>
            <td>Hammer</td>
            <td>Person</td>
            <td>Turn</td>
            <td>Score</td>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in $ctrl.KingdomBestService.results | orderBy:'-score'">
          <td ng-bind="record.moves.length"></td>
          <td ng-bind="record.total.g"></td>
          <td ng-bind="record.total.w"></td>
          <td ng-bind="record.total.f"></td>
          <td ng-bind="record.total.s"></td>
          <td ng-bind="record.total.h"></td>
          <td ng-bind="record.total.p"></td>
          <td ng-bind="record.total.t"></td>
          <td ng-bind="record.score"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
