<kingdom-board></kingdom-board>
<button ng-click="kingdomGameCtrl.KingdomGameService.digest()">Digest</button>
<kingdom-best></kingdom-best>

	<!--<input ng-model="game.deep"></input>-->

	<!--<div class="kingdom production">-->
		<!--<label for="gold">Gold</label>-->
		<!--<input type="text" id="gold" class="kingdom production coef" ng-model="game.coef.gold">-->
		<!--<label for="wood">wood</label>-->
		<!--<input type="text" id="wood" class="kingdom production coef" ng-model="game.coef.wood">-->
		<!--<label for="food">food</label>-->
		<!--<input type="text" id="food" class="kingdom production coef" ng-model="game.coef.food">-->
		<!--<label for="sword">sword</label>-->
		<!--<input type="text" id="sword" class="kingdom production coef" ng-model="game.coef.sword">-->
		<!--<label for="hammer">hammer</label>-->
		<!--<input type="text" id="hammer" class="kingdom production coef" ng-model="game.coef.hammer">-->
		<!--<label for="turn">turn</label>-->
		<!--<input type="text" id="turn" class="kingdom production coef" ng-model="game.coef.turn">-->
		<!--<label for="people">people</label>-->
		<!--<input type="text" id="people" class="kingdom production coef" ng-model="game.coef.people">-->
	<!--</div>-->
	<!--<div>{{game.production}}</div>-->
	<!--<ul><li ng-repeat='e in game.bestcontainer track by $index'>{{e}}</li></ul>-->
